body {
    color: #444444;
    font-size: 18px;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sec {
    padding: 100px 0;
}

* {
    outline: 1px solid t-omato;
}

/* μ„Έν… css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 120px;
    padding: 0 80px;
    z-index: 999;
    background: rgba(0, 0, 0, 0);
    transition: 0.33s;
}

.header.on {
    top: -120px;
}

.header.bg {
    background: rgba(0, 0, 0, 0.8);
}

.header .gnb_wrap {
    justify-content: space-between;
}

.header h1 {
    font-size: 0;
}

.header .gnb {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    color: #fff;
    background: url(../img/nav01.jpg) no-repeat center center/cover;
    z-index: -1;
    overflow: hidden;
    transition: 0.5s;
}

.header .gnb.on {
    height: 100vh;
}

.header .gnb ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .gnb ul>li {
    text-align: center;
    line-height: 100px;
}

.header .gnb ul>li a {
    display: inline-block;
    font-size: 60px;
    font-weight: 500;
    text-shadow: 0 0 1px #000;
}

.header .gnb ul>li a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: 0.5s;
}

.header .gnb ul>li:hover a::after {
    width: 100%;
}

.header .right a {
    color: #fff;
    font-size: 18px;
}

.header .right a::after {
    content: "\e91c";
    font-family: xeicon !important;
    margin-left: 20px;
}

.header .right a.on::after {
    content: "\e9af";
}

.header .btm_left {
    position: fixed;
    bottom: 105px;
    left: 21px;
    line-height: 1;
    transform: rotate(-90deg);
}

.header .btm_left a {
    color: #fff;
    padding: 10px 20px;
}

.header .btm_right {
    position: fixed;
    bottom: 80px;
    right: 80px;
    line-height: 1;
}

.header .btm_right a {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
}

/* header */
.mainVisual .itm{
    height: 50vh;
}

.mainVisual .visual_top .top_itm01{
    background: url(../img/mainvisual_bg.jpg) no-repeat top center/cover ;
}

.mainVisual .visual_top .top_itm02{
    background: url(../img/nav_hover05.jpg) no-repeat top center/cover ;
}
.mainVisual .visual_btm .btm_itm01{
    background: url(../img/mainvisual_bg.jpg) no-repeat bottom center/cover ;
}
.mainVisual .visual_btm .btm_itm02{
    background: url(../img/nav_hover05.jpg) no-repeat bottom center/cover ;
}

.mainVisual .itm strong{
    display: block;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    word-break: keep-all;
}
.mainVisual .visual_top .itm{
    position: relative;
}
.mainVisual .visual_top strong{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

/* 

.mainVisual .bottom .scroll_down {
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .bottom .scroll_down figure {
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
} */

/* main visual */

.mainContent {
    background: url(../img/mainContent01_bg.jpg) no-repeat center center /cover;
}

.mainContent .inner {
    gap: 30px;
}

.mainContent .inner>div {
    height: 750px;
}

.mainContent .left_img {
    position: relative;
}

.mainContent .left_img figure {
    position: sticky;
    top: 150px;
    left: 0;
}

.mainContent .left_img img {
    width: 450px;
}

.mainContent .right_txt {
    padding: 70px;
    line-height: 1.8;
}

.mainContent .right_txt strong {
    display: block;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 30px;
}

.mainContent .right_txt span {
    display: block;
    font-size: 22px;
    margin-bottom: 20px;
}

.mainContent .right_txt p {
    font-weight: 300;
}

/* main content */

.mainBanner {
    background: url(../img/banner01_bg.jpg) no-repeat center top /cover;
    color: #082b26;
    ;
}

.mainBanner h2 {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.mainBanner p {
    text-align: center;
    margin-bottom: 100px;
}

.mainBanner .inner .itm {
    flex: 1;

    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid #ddd;
}

.mainBanner .inner .itm:nth-of-type(4) {
    border-right: 1px solid #ddd;
}

.mainBanner .itm strong {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* main banner */

.designConsect .dc_top {
    letter-spacing: 1px;
    margin-bottom: 100px;
}

.designConsect .dc_top::after {
    content: "";
    display: block;
    width: 100%;
    height: 350px;
    background: url(../img/consect_bg.jpg) no-repeat fixed center center/cover;

}

.designConsect .dc_top strong {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
}

.designConsect .dc_top h2 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 50px;
    transform: translate(-4px, 0);
}

.designConsect .dc_btm>div {
    flex: 1 0 50%;
}

.designConsect .dc_btm_left {
    padding-right: 150px;
}

.designConsect .dc_btm_left_wrap {
    position: sticky;
    top: 50%;
    left: 0;
    width: 450px;
    transform: translate(0, -50%);
    margin-left: auto;
    margin-top: 186px;
}

.designConsect .dc_btm_left span {
    display: block;
    margin-bottom: 20px;
}

.designConsect .dc_btm_left strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.designConsect .left_top {
    position: relative;
}

.designConsect .left_top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgb(177, 176, 176);
}

.designConsect .dc_btm_left .scsy {
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 129px;
    height: 42px;
    transform: translate(0, -50%);
    background: url(../img/scsy.jpg) no-repeat center center /cover;
    font-size: 0;
}

.designConsect .dc_btm_right img {
    width: 100%;
}

.designConsect .dc_btm_left p {
    display: block;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 25px;
}

.designConsect .dc_btm_left a {
    position: relative;
    color: #ad9560;
    line-height: 1.6;
}

.designConsect .dc_btm_left a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(50%, -50%);

    background: #ad9560;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: 0.5s;
}

.designConsect .dc_btm_left a:hover::after {
    width: 26px;
    height: 26px;
}

.designConsect .dc_btm_left a i {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(50%, -50%);

    font-size: 10px;
    text-align: center;
    color: #fff;
    z-index: 999;
}

.designConsect .dc_btm_right .img_wrap {
    margin-bottom: 40px;
}

.designConsect .dc_btm_right span {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 100px;
}

.designConsect .dc_btm_right figure:last-child span {
    margin: 0;
}

/* design consent */

.banyantreeBanner .banner_wrap .right_banner {
    flex: 1 0 40%;
}

.banyantreeBanner .banner_wrap .left_banner {
    flex: 1 0 60%;
}

.banyantreeBanner .right_banner {
    background: url(../img/banner_t01.jpg)no-repeat fixed right center/contain;
    font-size: 0;
}

.banyantreeBanner .left_banner {
    background: url(../img/banner_t02.jpg)no-repeat center center/cover;
    padding: 100px 290px 100px 100px;
}

.banyantreeBanner .left_banner .txt {
    width: 500px;
    color: #fff;
    margin-left: auto;
}

.banyantreeBanner .left_banner strong {
    display: block;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 30px;
}

.banyantreeBanner .left_banner strong em {
    display: block;
    text-align: right;
}

.banyantreeBanner .left_banner span {
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}

.banyantreeBanner .left_banner p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.65;
    margin-bottom: 30px;
    word-break: keep-all;
}

.banyantreeBanner .left_banner a {
    position: relative;
    color: #ad9560;
    line-height: 1.65;
}

.banyantreeBanner .left_banner a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(50%, -50%);

    background: #ad9560;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: 0.5s;
}

.banyantreeBanner .left_banner a:hover::after {
    width: 26px;
    height: 26px;
}

.banyantreeBanner .left_banner a i {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(50%, -50%);

    font-size: 10px;
    text-align: center;
    color: #fff;
    z-index: 999;
}

/* bantantree banner */

.banyantreeSlide {
    background: #f9f9f9;
}

.banyantreeSlide h2 {
    font-size: 50px;
    font-weight: 500;
    color: #082b26;
    text-align: center;
    margin-bottom: 50px;
}

.banyantreeSlide .img_wrap img {
    width: 100%;
    transition: 0.3s;
}

.banyantreeSlide .bt_slide {
    text-align: center;
    margin-bottom: 40px;
}

.banyantreeSlide .bt_slide figure {
    width: 650px;
    padding: 0 15px;
}

.banyantreeSlide .bt_slide .img_wrap {
    margin-bottom: 20px;
}

.banyantreeSlide .bt_slide strong {
    display: block;
    font-size: 25px;

    margin-bottom: 20px;
}

.banyantreeSlide .bt_slide p {
    font-weight: 300;
    line-height: 1.45;
    margin-bottom: 20px;
    height: 90px;
}

.banyantreeSlide .bt_slide .txt {
    border: 1px solid #ad9560;
    color: #ad9560;
    font-size: 13px;
    font-weight: 300;
    line-height: 2;
}

.banyantreeSlide .bt_slide .txt span {
    display: block;
    border-bottom: 1px solid #ad9560;
}

.banyantreeSlide ul {
    justify-content: center;
    gap: 40px;
}

.banyantreeSlide ul>li {
    position: relative;
}

.banyantreeSlide ul>li.line {
    border-bottom: 1px solid #ad9560;
}

.banyantreeSlide ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 1px;
    height: 10px;
    background: #ad9560;
}

.banyantreeSlide ul>li button {
    font-size: 18px;
    color: #082b26;
    background: transparent;
    border: none;
}

.banyantreeSlide .btn {
    justify-content: center;
    gap: 50px;
    color: #444444;
    align-items: center;
}


.footer {
    padding: 60px 0;
    background: #222;
    color: #f7f7f7;
    font-size: 15px;
    font-weight: 300;
}

.foot_top {
    gap: 100px;
}

.footer .foot_left {
    transform: translate(0, -15px);
}

.footer .foot_left .logo {
    margin-bottom: 20px;
}

.footer .foot_left .icon {
    gap: 20px;
    font-size: 24px;
}

.footer .foot_right ul {
    /* gap: 50px; */
    margin-bottom: 20px;
}

.footer .foot_right .list_top li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 25px;
    background: #ddd;
}

.footer .foot_right .list_btm li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 25px;
    background: #ddd;
}

.footer .foot_right a {
    color: #ad9560;
}

.footer address {
    color: #ad9560;
    font-size: 12px;
}